body {
    background-image: url("../images/DSC_0160.jpeg");
    background-size: cover;
    padding-bottom: 100px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand, 
.page-header h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
    font-weight: bold;
}

nav {
    margin-bottom: 50px;
}

p,
.nav-link,
.exampleName,
.exampleMail,
.exampleMessage,
.submitButton {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img,
.img-thumbnail {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
}

section {
    border-color:#dddddd;
    margin-bottom: 10px;
}

.container {
    position: relative;
    background-color: white;
    overflow: hidden;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

}
.footer {
    background-color: #666666;
    position: relative;
    bottom: -100px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 75px;
}

